@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root{
  --primary-color: #39b385;
  --primary--bg: #ecf0f3;

  --shadow--1: #cbced1;
  --shadow--2: #fff;
}


.darkmode {
  --primary-color: #39b385;
  --dark-primary--bg: #0a3d62;

  --dark-shadow--1: #072d47;
  --dark-shadow--2: #11619b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
  
html {
box-sizing: border-box;
}

body {
    background-color: var(--primary--bg);
    color: #555;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    margin: 0;
}
