.main-section {
    width: 100%;
    height: 35rem;
    margin-bottom: 0;
    
    .tool__container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        
        .calculator__card,
        .music__card,
        .converter__card,
        .notes__card {
            width: 18rem;
            height: 30rem;
            box-shadow: 13px 13px 20px $--shadow--1, 
                -13px -13px 20px $--shadow--2;
            border-radius: 40px;
            margin: 1.5rem 3rem;
        }

        .calculator__card {
            padding: 1.5rem;
            height: 30rem;

            #display {
                width: 15rem;
                border-radius: 10px;
                border: none;
                outline: none;
                color: $--primary-color;
                text-align: right;
                font-weight: 700;
                font-size: 1.8rem;
                padding: 1.7rem 1rem 1.7rem 0;
                margin: 1.5rem 0;
                background: transparent;
                box-shadow: 5px 5px 5px #babecc, -5px -5px 10px #fff,
                             inset 2px 2px 5px #babecc, 
                            inset -5px -5px 10px #fff;
                
                &::placeholder {
                    font-size: 1.8rem;
                }
            }
            
            .button {
                color: $--primary-color;
                margin: 15px 0 0 5px;
                width: 3.2rem;
                height: 3.2rem;
                border: none;
                outline: none;
                font-size: 1.5rem;
                font-weight: bold;
                cursor: pointer;
                background-color: $--primary--bg;
                border-radius: 8px;
                box-shadow: 5px 5px 10px $--shadow--1, 
                            -5px -5px 10px $--shadow--2;
                display: inline-block;
            }

                   
            .button:active {
                box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
            }
            
            .clearButton {
                background: #babecc;
                color: white;
            }
            
            .mathbutton {
                background: $--primary-color;
                color: white;
            }
        }

        .music__card {
            padding: 1.6rem 2rem;
            color: $--primary-color;
            position: relative;

            i {
                cursor: pointer;
                font-size: 1rem; 
            }

            .top-bar, 
            .progress-area .timer,
            .controls,
            .music-list .header,
            .music-list li {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .img-area {
                width: 100%;
                height: 13rem;
                background-color: $--primary--bg;
                border-radius: 30px;
                border: 2px solid $--primary--bg;
                box-shadow: 13px 13px 20px $--shadow--1, 
                            -13px -13px 20px $--shadow--2;
                overflow: hidden;
                margin-top: 1.2rem;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }

            .song-details {
                text-align: center;
                margin: 0.8rem 0;
                color: $--primary-color;

                .name {
                    font-size: 1.1rem;
                }

                .artist {
                    font-size: 1rem;
                }
            }

            .progress-area {
                height: 6px;
                width: 100%;
                background: #babecc;
                border-radius: 50px;
                cursor: pointer;

                &:hover .progress-bar::before {
                    opacity: 1;
                }

                .progress-bar {
                    height: inherit;
                    width: 0%;
                    position: relative;
                    border-radius: inherit;
                    background: $--primary-color;

                    &::before {
                        content: '';
                        position: absolute;
                        height: 0.8rem;
                        width: 0.8rem;
                        top: 50%;
                        right: -5px;
                        transform: translateY(-50%);
                        border-radius: inherit;
                        background-color: $--primary-color;
                        opacity: 0;
                        transition: opacity .2s ease;
                    }

                }

                .timer {
                    margin-top: 0.2rem;

                    span {
                        font-size: 0.7rem;
                        color: #babecc;
                    }
                }
            }

            .controls {
                margin: 2.5rem 0 0.3rem 0;

                i {
                    font-size: 1.4rem;
                    user-select: none;
                }

                
                .play-pause {
                    height: 3.2rem;
                    width: 3.2rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    box-shadow: -10px -10px 15px #fff, 
                        10px 10px 15px rgba(70, 70, 70, 0.12);

                    i {
                        margin-left: 0.2rem;
                    }
                }
            }

            .music-list.show {
                bottom: 0;
                opacity: 1;
                pointer-events: auto;  
            }

            .music-list {
                position: absolute;
                left: 0;
                bottom: -35%;
                opacity: 0;
                pointer-events: none;
                padding: 0.4rem 0.5rem 1.2rem 0.5rem;
                width: 100%;
                background: $--primary--bg;
                border-radius: 1.5rem 1.5rem 2.5rem 2.5rem;
                box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
                box-shadow: -10px -10px 15px #fff, 
                            10px 10px 15px rgba(70, 70, 70, 0.12);
                transition: all .14s ease-out;

                .header .row {
                    display: flex;
                    align-items: center;
                    font-size: 1rem;

                    i {
                        cursor: default;
                    }

                    span {
                        margin-left: 0.5rem;
                    }
                }
                
                .header #close {
                    font-size: 1.3rem;
                }

                ul {
                    margin: 0.1rem 0.3rem;
                    max-height: 21rem;
                    overflow-y: auto;

                    &::-webkit-scrollbar{
                        width: 0rem;
                    }

                    li {
                        cursor: pointer;
                        list-style: none;
                        border-bottom: 1px solid #e5e5e5;

                        &:last-child {
                            border-bottom: 0px;
                        }

                        .row span,
                        .row p {
                            font-size: 0.9rem;
                        }
                        
                        .audio-duration {
                            font-size: 0.8rem;
                        }
                    }

                    .playing {
                        font-weight: 700;
                        pointer-events: none;
                    }
                }
            }
        }

        .converter__card {
            padding: 1.6rem 2rem 1.6rem 2rem;

            .converters {
                margin-bottom: 1rem;

                &__logo {
                    color: $--primary-color;
                    font-size: 1.2rem;
                }

                &__table {
                    margin-top: 0.5rem;
                }

                select {
                    margin-left: 4rem;
                }

                .inputs {
                    display: flex;
                    justify-content: space-between;

                    input,
                    select {
                        background-color: $--primary--bg;
                        border: none;
                        border-radius: 3px;
                        outline: none;
                        box-shadow: 5px 5px 5px #babecc, -5px -5px 10px #fff,
                                 inset 2px 2px 5px #babecc, 
                                inset -5px -5px 10px #fff;
                        height: 1.5rem;
                        margin-top: 0.5rem;
                        width: 5rem;
                    }

                    input,
                    option,
                    select {
                        text-align: center;
                        padding: 5px;
                        color: #555;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}

