.header {
    padding: 0.5rem 2rem 1rem 2rem;
    display: flex;
    justify-content: space-between;

    .logo {
        box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
        border-radius: 30px;
        width: 8rem;
        height: 7rem;
        padding: 1.5rem;
        
        &__text {
            text-align: center;
            text-transform: uppercase;
            color: #39b385;
            font-size: 1.5rem;
            font-weight: 700;
        }
    }

    .clock {
        display: flex;
        align-items: center;
        justify-content: center;
        
        &__container {
            box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
            border-radius: 30px;
            padding: 1rem;
            font-size: 2rem;
            color:  #39b385;
            letter-spacing: 2px;
            width: 16rem;
            text-align: center;
        }
    }

    .date {
        display: flex;
        align-items: center;
        justify-content: center;
        
        &__container {
            box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
            border-radius: 30px;
            padding: 1rem;
            font-size: 2rem;
            color:  #39b385;
            letter-spacing: 2px;
        }
    }

    .dark-mode{
        display: flex;
        align-items: center;
        justify-content: center;

        input {
            height: 4rem;
            width: 4rem;
            -webkit-appearance: none;
            box-shadow: -10px -10px 15px rgba(255, 255,255, 0.5), 
                        10px 10px 15px rgba(70, 70, 70, 0.12);
            border-radius: 50%;
            border: 8px solid #ecf0f3;
            outline: none;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
    
        input::after {
            font-family: 'Font Awesome 5 free';
            content: '\f186';
            color: #39b385;
            font-size: 1.7rem;        
        }

        input:checked {
            box-shadow: -10px -10px 15px rgba(255, 255,255, 0.5), 
                        10px 10px 15px rgba(70, 70, 70, 0.12),
                        inset -10px -10px 15px rgba(255, 255,255, 0.5), 
                        inset 10px 10px 15px rgba(70, 70, 70, 0.12);
        }
    }

}

