.socials {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 13px 13px 20px var(--shadow--1), -13px -13px 20px var(--shadow--2);
  border-radius: 0 20px 20px 0;
  padding: 0.5rem 1.3rem 1rem 1.3rem;

  a {
    color: var(--primary-color);
    font-size: 2rem;
  }
}

@media only screen and (max-width: 1650px) {
  .socials {
    padding: 0.5rem 0.7rem;
  }
  .socials a {
    font-size: 1.8rem;
  }
}

.tools {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 13px 13px 20px var(--shadow--1), -13px -13px 20px var(--shadow--2);
  border-radius: 20px 0 0 20px;
  padding: 0.5rem 1rem 1rem 1rem;

  .google {
    font-size: 1.8rem;
    margin-bottom: 0.2rem;
  }

  a {
    color: var(--primary-color);
    font-size: 2rem;
  }

  img {
    height: 2.8rem;
    width: 2.8rem;
  }
}

@media only screen and (max-width: 1650px) {
  .tools {
    padding: 0.5rem 0.7rem;
  }
  .tools a {
    font-size: 1.8rem;
  }
  .tools .google {
    font-size: 1.5rem;
  }
  .tools img {
    height: 2rem;
    width: 2rem;
  }
}
