@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #ecf0f3;
  color: #555;
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
}

.header {
  padding: 0.5rem 2rem 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .logo {
  -webkit-box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
          box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
  border-radius: 30px;
  width: 8rem;
  height: 7rem;
  padding: 1.5rem;
}

.header .logo__text {
  text-align: center;
  text-transform: uppercase;
  color: #39b385;
  font-size: 1.5rem;
  font-weight: 700;
}

.header .clock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .clock__container {
  -webkit-box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
          box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
  border-radius: 30px;
  padding: 1rem;
  font-size: 2rem;
  color: #39b385;
  letter-spacing: 2px;
  width: 16rem;
  text-align: center;
}

.header .date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .date__container {
  -webkit-box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
          box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
  border-radius: 30px;
  padding: 1rem;
  font-size: 2rem;
  color: #39b385;
  letter-spacing: 2px;
}

.header .dark-mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .dark-mode input {
  height: 4rem;
  width: 4rem;
  -webkit-appearance: none;
  -webkit-box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
          box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
  border-radius: 50%;
  border: 8px solid #ecf0f3;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
}

.header .dark-mode input::after {
  font-family: 'Font Awesome 5 free';
  content: '\f186';
  color: #39b385;
  font-size: 1.7rem;
}

.header .dark-mode input:checked {
  -webkit-box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff, inset -13px -13px 20px #fff, inset 13px 13px 20px #cbced1;
          box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff, inset -13px -13px 20px #fff, inset 13px 13px 20px #cbced1;
}

.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #39b385;
  -webkit-box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
          box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
  border-radius: 40px;
  margin: 1rem 10rem 2rem 10rem;
}

.info .weather,
.info .btc,
.info .eth,
.info .doge,
.info .ada {
  margin: 0 2rem;
}

.info .doge img,
.info .ada img {
  color: #39b385;
  height: 2rem;
  width: 2rem;
}

.info .weather__card,
.info .eth__card,
.info .btc__card,
.info .doge__card,
.info .ada__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.info .weather__card h4,
.info .eth__card h4,
.info .btc__card h4,
.info .doge__card h4,
.info .ada__card h4 {
  text-transform: uppercase;
  padding: 0 2rem;
}

.info .weather__card p,
.info .eth__card p,
.info .btc__card p,
.info .doge__card p,
.info .ada__card p {
  font-size: 2rem;
}

.info .weather__card {
  margin-left: 2rem;
}

.main-section {
  width: 100%;
  height: 35rem;
  margin-bottom: 0;
}

.main-section .tool__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-section .tool__container .calculator__card,
.main-section .tool__container .music__card,
.main-section .tool__container .converter__card,
.main-section .tool__container .todo-list__card {
  width: 18rem;
  height: 30rem;
  -webkit-box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
          box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
  border-radius: 40px;
  margin: 1.5rem 3rem;
}

.main-section .tool__container .calculator__card {
  padding: 1.5rem;
  height: 30rem;
}

.main-section .tool__container .calculator__card #display {
  width: 15rem;
  border-radius: 10px;
  border: none;
  outline: none;
  color: #39b385;
  text-align: right;
  font-weight: 700;
  font-size: 1.8rem;
  padding: 1.7rem 1rem 1.7rem 0;
  margin: 1.5rem 0;
  background: transparent;
  -webkit-box-shadow: 5px 5px 5px #babecc, -5px -5px 10px #fff, inset 2px 2px 5px #babecc,  inset -5px -5px 10px #fff;
          box-shadow: 5px 5px 5px #babecc, -5px -5px 10px #fff, inset 2px 2px 5px #babecc,  inset -5px -5px 10px #fff;
}

.main-section .tool__container .calculator__card #display::-webkit-input-placeholder {
  font-size: 1.8rem;
}

.main-section .tool__container .calculator__card #display:-ms-input-placeholder {
  font-size: 1.8rem;
}

.main-section .tool__container .calculator__card #display::-ms-input-placeholder {
  font-size: 1.8rem;
}

.main-section .tool__container .calculator__card #display::placeholder {
  font-size: 1.8rem;
}

.main-section .tool__container .calculator__card .button {
  color: #39b385;
  margin: 15px 0 0 5px;
  width: 3.2rem;
  height: 3.2rem;
  border: none;
  outline: none;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  background-color: #ecf0f3;
  border-radius: 8px;
  -webkit-box-shadow: 5px 5px 10px #cbced1, -5px -5px 10px #fff;
          box-shadow: 5px 5px 10px #cbced1, -5px -5px 10px #fff;
  display: inline-block;
}

.main-section .tool__container .calculator__card .button:active {
  -webkit-box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
          box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

.main-section .tool__container .calculator__card .clearButton {
  background: #babecc;
  color: white;
}

.main-section .tool__container .calculator__card .mathbutton {
  background: #39b385;
  color: white;
}

.main-section .tool__container .music__card {
  padding: 1.6rem 2rem;
  color: #39b385;
  position: relative;
}

.main-section .tool__container .music__card i {
  cursor: pointer;
  font-size: 1rem;
}

.main-section .tool__container .music__card .top-bar,
.main-section .tool__container .music__card .progress-area .timer,
.main-section .tool__container .music__card .controls,
.main-section .tool__container .music__card .music-list .header,
.main-section .tool__container .music__card .music-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-section .tool__container .music__card .img-area {
  width: 100%;
  height: 13rem;
  background-color: #ecf0f3;
  border-radius: 30px;
  border: 2px solid #ecf0f3;
  -webkit-box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
          box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
  overflow: hidden;
  margin-top: 1.2rem;
}

.main-section .tool__container .music__card .img-area img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main-section .tool__container .music__card .song-details {
  text-align: center;
  margin: 0.8rem 0;
  color: #39b385;
}

.main-section .tool__container .music__card .song-details .name {
  font-size: 1.1rem;
}

.main-section .tool__container .music__card .song-details .artist {
  font-size: 1rem;
}

.main-section .tool__container .music__card .progress-area {
  height: 6px;
  width: 100%;
  background: #babecc;
  border-radius: 50px;
  cursor: pointer;
}

.main-section .tool__container .music__card .progress-area:hover .progress-bar::before {
  opacity: 1;
}

.main-section .tool__container .music__card .progress-area .progress-bar {
  height: inherit;
  width: 0%;
  position: relative;
  border-radius: inherit;
  background: #39b385;
}

.main-section .tool__container .music__card .progress-area .progress-bar::before {
  content: '';
  position: absolute;
  height: 0.8rem;
  width: 0.8rem;
  top: 50%;
  right: -5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: inherit;
  background-color: #39b385;
  opacity: 0;
  -webkit-transition: opacity .2s ease;
  transition: opacity .2s ease;
}

.main-section .tool__container .music__card .progress-area .timer {
  margin-top: 0.2rem;
}

.main-section .tool__container .music__card .progress-area .timer span {
  font-size: 0.7rem;
  color: #babecc;
}

.main-section .tool__container .music__card .controls {
  margin: 2.5rem 0 0.3rem 0;
}

.main-section .tool__container .music__card .controls i {
  font-size: 1.4rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.main-section .tool__container .music__card .controls .play-pause {
  height: 3.2rem;
  width: 3.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  -webkit-box-shadow: -10px -10px 15px #fff, 10px 10px 15px rgba(70, 70, 70, 0.12);
          box-shadow: -10px -10px 15px #fff, 10px 10px 15px rgba(70, 70, 70, 0.12);
}

.main-section .tool__container .music__card .controls .play-pause i {
  margin-left: 0.2rem;
}

.main-section .tool__container .music__card .music-list.show {
  bottom: 0;
  opacity: 1;
  pointer-events: auto;
}

.main-section .tool__container .music__card .music-list {
  position: absolute;
  left: 0;
  bottom: -35%;
  opacity: 0;
  pointer-events: none;
  padding: 0.4rem 0.5rem 1.2rem 0.5rem;
  width: 100%;
  background: #ecf0f3;
  border-radius: 1.5rem 1.5rem 2.5rem 2.5rem;
  -webkit-box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: -10px -10px 15px #fff, 10px 10px 15px rgba(70, 70, 70, 0.12);
          box-shadow: -10px -10px 15px #fff, 10px 10px 15px rgba(70, 70, 70, 0.12);
  -webkit-transition: all .14s ease-out;
  transition: all .14s ease-out;
}

.main-section .tool__container .music__card .music-list .header .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
}

.main-section .tool__container .music__card .music-list .header .row i {
  cursor: default;
}

.main-section .tool__container .music__card .music-list .header .row span {
  margin-left: 0.5rem;
}

.main-section .tool__container .music__card .music-list .header #close {
  font-size: 1.3rem;
}

.main-section .tool__container .music__card .music-list ul {
  margin: 0.1rem 0.3rem;
  max-height: 21rem;
  overflow-y: auto;
}

.main-section .tool__container .music__card .music-list ul::-webkit-scrollbar {
  width: 0rem;
}

.main-section .tool__container .music__card .music-list ul li {
  cursor: pointer;
  list-style: none;
  border-bottom: 1px solid #e5e5e5;
}

.main-section .tool__container .music__card .music-list ul li:last-child {
  border-bottom: 0px;
}

.main-section .tool__container .music__card .music-list ul li .row span,
.main-section .tool__container .music__card .music-list ul li .row p {
  font-size: 0.9rem;
}

.main-section .tool__container .music__card .music-list ul li .audio-duration {
  font-size: 0.8rem;
}

.main-section .tool__container .music__card .music-list ul .playing {
  font-weight: 700;
  pointer-events: none;
}

.main-section .tool__container .converter__card {
  padding: 1.6rem 2rem 1.6rem 2rem;
}

.main-section .tool__container .converter__card .converters {
  margin-bottom: 1rem;
}

.main-section .tool__container .converter__card .converters__logo {
  color: #39b385;
  font-size: 1.2rem;
}

.main-section .tool__container .converter__card .converters__table {
  margin-top: 0.5rem;
}

.main-section .tool__container .converter__card .converters select {
  margin-left: 4rem;
}

.main-section .tool__container .converter__card .converters .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-section .tool__container .converter__card .converters .inputs input,
.main-section .tool__container .converter__card .converters .inputs select {
  background-color: #ecf0f3;
  border: none;
  border-radius: 3px;
  outline: none;
  -webkit-box-shadow: 5px 5px 5px #babecc, -5px -5px 10px #fff, inset 2px 2px 5px #babecc,  inset -5px -5px 10px #fff;
          box-shadow: 5px 5px 5px #babecc, -5px -5px 10px #fff, inset 2px 2px 5px #babecc,  inset -5px -5px 10px #fff;
  height: 1.5rem;
  margin-top: 0.5rem;
  width: 5rem;
}

.main-section .tool__container .converter__card .converters .inputs input,
.main-section .tool__container .converter__card .converters .inputs option,
.main-section .tool__container .converter__card .converters .inputs select {
  text-align: center;
  padding: 5px;
  color: #555;
  font-weight: 700;
}

.main-section .tool__container .todo-list__card .add-task__container {
  padding: 1.5rem 1.5rem 1rem 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-section .tool__container .todo-list__card .add-task__container input {
  background-color: #ecf0f3;
  border: none;
  outline: none;
  color: #555;
  font-size: 1rem;
  padding-left: 1.5rem;
  width: 12rem;
  height: 3rem;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
          box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
  border-radius: 30px;
}

.main-section .tool__container .todo-list__card .add-task__container button {
  border: none;
  outline: none;
  color: #39b385;
  font-size: 1.2rem;
  cursor: pointer;
  height: 2.2rem;
  width: 2.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  -webkit-box-shadow: -10px -10px 15px #fff, 10px 10px 15px rgba(70, 70, 70, 0.12);
          box-shadow: -10px -10px 15px #fff, 10px 10px 15px rgba(70, 70, 70, 0.12);
}

.main-section .tool__container .todo-list__card .task__container {
  padding: 1rem;
  margin: 1rem 0.7rem;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
          box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}

.main-section .tool__container .todo-list__card .task__container .btns {
  width: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-section .tool__container .todo-list__card .task__container .btns button {
  border: none;
  outline: none;
  color: #39b385;
  font-size: 1.2rem;
  cursor: pointer;
}

.socials {
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
          box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
  border-radius: 0 20px 20px 0;
  padding: 0.5rem 1.3rem 1rem 1.3rem;
}

.socials a {
  color: #39b385;
  font-size: 2rem;
}

.tools {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
          box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
  border-radius: 20px 0 0 20px;
  padding: 0.5rem 1rem 1rem 1rem;
}

.tools .google {
  font-size: 1.8rem;
  margin-bottom: .2rem;
}

.tools a {
  color: #39b385;
  font-size: 2rem;
}

.tools img {
  height: 2.8rem;
  width: 2.8rem;
}

.searchbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  height: 4.1rem;
  margin: 0 auto;
  -webkit-box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
          box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
  border-radius: 40px;
}

.searchbar__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.searchbar input {
  border: none;
  outline: none;
  background: none;
  width: 30rem;
  font-size: 18px;
  color: #555;
  padding: 20px 10px 20px 15px;
  margin: 0 3rem;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.searchbar input:focus {
  -webkit-box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff, inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
          box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff, inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
  border-radius: 30px;
}

.searchbar p {
  font-size: 1.5rem;
  margin: 0 10px 4px 25px;
  color: #39b385;
}

.searchbar button {
  cursor: pointer;
  border: none;
  outline: none;
  color: #39b385;
  font-size: 1.5rem;
}
/*# sourceMappingURL=style.css.map */